/* ------------------------------------------------------------------------- */
/* Layout */
/* line 9, ../sass/screen.sass */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.05);
}

/* line 14, ../sass/screen.sass */
bold, strong {
  font-weight: 700;
}

/* line 17, ../sass/screen.sass */
.container {
  *zoom: 1;
  max-width: 19em;
  _width: 19em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  padding: 1em 1em;
}
/* line 38, ../../../../../../usr/local/Cellar/ruby/1.9.3-p286/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../sass/screen.sass */
img, video, embed, object {
  max-width: 100%;
}

/* line 25, ../sass/screen.sass */
h1 {
  font-weight: 400;
  text-transform: uppercase;
  color: #989a9e;
  font-size: 1.875em;
  line-height: 1.06667em;
  margin-top: 2em;
  margin-right: 3em;
}

/* line 34, ../sass/screen.sass */
h2 {
  font-weight: 600;
  color: #ffa23e;
  font-size: 1.875em;
  line-height: 1.06667em;
}

/* line 40, ../sass/screen.sass */
h3 {
  color: #989a9e;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 46, ../sass/screen.sass */
a:link, a:visited {
  font-weight: 700;
  color: #55bed8;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -ms-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
}

/* line 55, ../sass/screen.sass */
a:hover {
  color: #7ecee2;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -ms-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
}

/* line 63, ../sass/screen.sass */
a.button {
  display: inline-block;
  text-decoration: none;
  background: #55bed8;
  color: white;
  padding: 0.3em 0.5em;
  border: 1px solid white;
  -webkit-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.2);
  margin-left: -1px;
  text-transform: uppercase;
}

/* line 75, ../sass/screen.sass */
a.button:hover {
  background: #7ecee2;
}

/* line 79, ../sass/screen.sass */
header p.tagline, header p.summary {
  font-size: 0.875em;
  margin-top: 0;
}
/* line 82, ../sass/screen.sass */
header p.summary {
  padding: 1.14286em;
  margin: -1.14286em;
  margin-bottom: 1em;
  background: rgba(0, 0, 0, 0.05);
}
/* line 87, ../sass/screen.sass */
header img {
  display: block;
  max-width: 14em;
  margin: 0 auto;
}
/* line 91, ../sass/screen.sass */
header p.location-date {
  margin-top: 1.5em;
  color: #777777;
}
/* line 94, ../sass/screen.sass */
header span.location {
  padding-right: 1em;
}
/* line 96, ../sass/screen.sass */
header p.theme {
  font-size: 1.125em;
  padding: 0 2em;
  color: #ffa23e;
  margin: 0;
}

/* line 102, ../sass/screen.sass */
.home header {
  text-align: center;
  background-color: white;
  background-image: -moz-radial-gradient(50% 40%, circle closest-side, white, white 8em, rgba(0, 0, 0, 0.05) 11em);
  background-image: -webkit-radial-gradient(50% 40%, circle closest-side, white, white 8em, rgba(0, 0, 0, 0.05) 11em);
  background-image: -o-radial-gradient(50% 40%, circle closest-side, white, white 8em, rgba(0, 0, 0, 0.05) 11em);
  background-image: -ms-radial-gradient(50% 40%, circle closest-side, white, white 8em, rgba(0, 0, 0, 0.05) 11em);
  background-image: radial-gradient(50% 40%, circle closest-side, #ffffff, #ffffff 8em, rgba(0, 0, 0, 0.05) 11em);
  margin: -1em -1em 1em;
  padding: 1em;
}

/* line 114, ../sass/screen.sass */
footer {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1em;
  margin: 1em -1em -1em;
}
/* line 118, ../sass/screen.sass */
footer h2 {
  font-size: 1em;
  line-height: 1.4em;
  color: #989a9e;
  font-weight: 400;
  margin: 0 0 1em;
}
/* line 124, ../sass/screen.sass */
footer .twitter-follow-button {
  margin-bottom: 1em;
}

/* line 127, ../sass/screen.sass */
#promovideo {
  max-width: 288px;
  margin: 0 auto;
}

/* line 131, ../sass/screen.sass */
p.note {
  font-size: 0.6875em;
  line-height: 1.01818em;
  margin-top: 0.43636em;
  margin-bottom: 1em;
}

/* line 137, ../sass/screen.sass */
.intro {
  border-bottom: 1px solid #cccccc;
}
/* line 139, ../sass/screen.sass */
.intro p {
  color: #989a9e;
}

/* line 142, ../sass/screen.sass */
p.theme {
  font-style: italic;
  margin: 0 4em 0 2em;
  font-weight: 600;
  color: #989a9e;
}

/* line 148, ../sass/screen.sass */
#organizers {
  background-color: #303030;
  background-image: -moz-radial-gradient(50% 50%, circle closest-side, #303030, #303030 8em, #232323 11em);
  background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #303030, #303030 8em, #232323 11em);
  background-image: -o-radial-gradient(50% 50%, circle closest-side, #303030, #303030 8em, #232323 11em);
  background-image: -ms-radial-gradient(50% 50%, circle closest-side, #303030, #303030 8em, #232323 11em);
  background-image: radial-gradient(50% 50%, circle closest-side, #303030, #303030 8em, #232323 11em);
  margin: 1em -1em -1em;
  padding: 1em;
}
/* line 157, ../sass/screen.sass */
#organizers h2, #organizers p {
  font-size: 0.875em;
  line-height: 1.6em;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  clear: both;
}
/* line 163, ../sass/screen.sass */
#organizers h2 {
  font-weight: 400;
}
/* line 165, ../sass/screen.sass */
#organizers .uottawa-logo, #organizers .carleton-logo {
  background-image: url(../img/organizer-logos.png?);
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;
  float: left;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
/* line 177, ../sass/screen.sass */
#organizers .uottawa-logo {
  width: 83px;
  height: 72px;
  background-position: 0, 0;
  margin: 10px 23px 20px 27px;
}
/* line 182, ../sass/screen.sass */
#organizers .carleton-logo {
  width: 140px;
  height: 35px;
  background-position: -106px -22px;
  margin: 32px 0 15px 0;
}
/* line 187, ../sass/screen.sass */
#organizers .uottawa-logo:hover, #organizers .carleton-logo:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

/* line 194, ../sass/screen.sass */
aside.highlight {
  border: 2px solid #ffa23e;
  padding: 1em;
}
/* line 197, ../sass/screen.sass */
aside.highlight h2 {
  font-size: 1em;
  line-height: 1.4em;
  color: #ffa23e;
  margin: 0;
}
/* line 202, ../sass/screen.sass */
aside.highlight p:last-of-type {
  margin-bottom: 0;
}

/* line 205, ../sass/screen.sass */
#answers h3 {
  font-size: 1em;
  line-height: 1.4em;
  color: black;
  font-weight: 700;
}
