/* ------------------------------------------------------------------------- */
/* Layout */
/* line 10, ../sass/screen.sass */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
}

/* line 15, ../sass/screen.sass */
bold, strong {
  font-weight: 700;
}

/* line 18, ../sass/screen.sass */
.container {
  *zoom: 1;
  max-width: 19em;
  _width: 19em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  padding: 1em 1em;
}
/* line 38, ../../../../../../usr/local/Cellar/ruby/1.9.3-p286/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 30em) {
  /* line 18, ../sass/screen.sass */
  .container {
    max-width: 29em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
  }
  /* line 38, ../../../../../../usr/local/Cellar/ruby/1.9.3-p286/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 35em) {
  /* line 18, ../sass/screen.sass */
  .container {
    max-width: 34em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
  }
  /* line 38, ../../../../../../usr/local/Cellar/ruby/1.9.3-p286/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 45em) {
  /* line 18, ../sass/screen.sass */
  .container {
    max-width: 44em;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    background-color: transparent;
  }
  /* line 38, ../../../../../../usr/local/Cellar/ruby/1.9.3-p286/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .container:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* line 30, ../sass/screen.sass */
img, video, embed, object {
  max-width: 100%;
}

/* line 33, ../sass/screen.sass */
h1 {
  font-weight: 400;
  text-transform: uppercase;
  color: #989a9e;
  font-size: 1.875em;
  line-height: 1.06667em;
  margin-top: 2em;
  margin-right: 3em;
}

/* line 42, ../sass/screen.sass */
h2 {
  font-weight: 600;
  color: #ffa23e;
  font-size: 1.875em;
  line-height: 1.06667em;
}

/* line 48, ../sass/screen.sass */
h3 {
  color: #989a9e;
  font-weight: 400;
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 54, ../sass/screen.sass */
a:link, a:visited {
  font-weight: 700;
  color: #55bed8;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -ms-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
}

/* line 63, ../sass/screen.sass */
a:hover {
  color: #7ecee2;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -ms-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
}

/* line 71, ../sass/screen.sass */
input[type=submit] {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.4em;
  font-family: inherit;
}

/* line 77, ../sass/screen.sass */
a.button, a.bigbutton, input[type=submit] {
  display: inline-block;
  text-decoration: none;
  background: #55bed8;
  color: white;
  padding: 0.3em 0.5em;
  border: 1px solid white;
  -webkit-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.2);
  margin-left: -1px;
  text-transform: uppercase;
  margin-right: 1em;
  margin-bottom: 1em;
}

/* line 91, ../sass/screen.sass */
a.button + p, a.bigbutton + p, input[type=submit] + p {
  margin-top: 0;
}

/* line 94, ../sass/screen.sass */
a.button.secondary, a.bigbutton.secondary, input[type=submit].secondary {
  background: #95b257;
}

/* line 97, ../sass/screen.sass */
a.button:hover, a.bigbutton:hover, input[type=submit]:hover {
  background: #7ecee2;
}

/* line 100, ../sass/screen.sass */
a.button.secondary:hover, a.bigbutton.secondary:hover, input[type=submit].secondary:hover {
  background: #abc27a;
}

/* line 103, ../sass/screen.sass */
a.bigbutton {
  text-transform: none;
  font-weight: 400;
}
/* line 106, ../sass/screen.sass */
a.bigbutton strong {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 111, ../sass/screen.sass */
.chromeframe {
  background-color: #d1eef5;
  margin: 0;
  padding: 1em;
}

/* line 117, ../sass/screen.sass */
header p.tagline, header p.summary {
  font-size: 0.875em;
  margin-top: 0;
}
/* line 120, ../sass/screen.sass */
header p.summary {
  padding: 1.14286em;
  margin: -1.14286em;
  margin-bottom: 1em;
  background: rgba(0, 0, 0, 0.05);
}
/* line 125, ../sass/screen.sass */
header p.summary a {
  color: #ffa23e;
}
/* line 127, ../sass/screen.sass */
header p.summary a:hover {
  color: #ffbb71;
}
/* line 129, ../sass/screen.sass */
header img {
  display: block;
  max-width: 14em;
  margin: 0 auto;
}
/* line 133, ../sass/screen.sass */
header p.location-date {
  margin-top: 1.5em;
  color: #777777;
}
/* line 136, ../sass/screen.sass */
header span.location {
  padding-right: 1em;
}
/* line 138, ../sass/screen.sass */
header p.theme {
  font-size: 1.125em;
  padding: 0 2em;
  color: #ffa23e;
  margin: 0;
}

/* line 144, ../sass/screen.sass */
.home header {
  text-align: center;
  background-color: white;
  background-image: -moz-radial-gradient(50% 40%, circle closest-side, white, white 8em, #f2f2f2 11em);
  background-image: -webkit-radial-gradient(50% 40%, circle closest-side, white, white 8em, #f2f2f2 11em);
  background-image: -o-radial-gradient(50% 40%, circle closest-side, white, white 8em, #f2f2f2 11em);
  background-image: -ms-radial-gradient(50% 40%, circle closest-side, white, white 8em, #f2f2f2 11em);
  background-image: radial-gradient(50% 40%, circle closest-side, #ffffff, #ffffff 8em, #f2f2f2 11em);
  margin: -1em -1em 1em;
  padding: 1em;
}
@media (min-width: 45em) {
  /* line 144, ../sass/screen.sass */
  .home header {
    margin: -1em;
    background-image: -moz-radial-gradient(12.5em 10em, circle closest-side, white, white 8em, #f2f2f2 11em);
    background-image: -webkit-radial-gradient(12.5em 11em, circle closest-side, white, white 9em, #f2f2f2 12em);
    background-image: -o-radial-gradient(12.5em 40%, circle closest-side, white, white 8em, #f2f2f2 11em);
    background-image: -ms-radial-gradient(12.5em 40%, circle closest-side, white, white 8em, #f2f2f2 11em);
    background-image: radial-gradient(12.5em 40%, circle closest-side, #ffffff, #ffffff 8em, #f2f2f2 11em);
    overflow: hidden;
    padding-left: 25em;
    padding-top: 4em;
  }
  /* line 168, ../sass/screen.sass */
  .home header img {
    max-width: 18em;
    margin-left: -22em;
    float: left;
  }
  /* line 172, ../sass/screen.sass */
  .home header p.location-date {
    font-size: 1.8em;
  }
  /* line 174, ../sass/screen.sass */
  .home header p.location-date span.location, .home header p.location-date span.date {
    display: block;
    margin: 0;
    padding-right: 0;
  }
  /* line 178, ../sass/screen.sass */
  .home header p.tagline {
    font-size: 1.8em;
    float: right;
  }
  /* line 181, ../sass/screen.sass */
  .home header p.theme {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    background-image: url('/img/../img/theme-bubble@2x.png?1355260050');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 167px;
    height: 197px;
    background-size: 167px 197px;
    padding: 0;
    margin: 0 auto -0.5em;
    position: relative;
    z-index: 1;
  }
}

/* line 190, ../sass/screen.sass */
footer {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 1em;
  margin: 1em -1em -1em;
}
/* line 194, ../sass/screen.sass */
footer h2 {
  font-size: 1em;
  line-height: 1.4em;
  color: #989a9e;
  font-weight: 400;
  margin: 0 0 1em;
}
/* line 200, ../sass/screen.sass */
footer .twitter-follow-button {
  margin-bottom: 1em;
}
@media (min-width: 45em) {
  /* line 190, ../sass/screen.sass */
  footer {
    background-color: transparent;
  }
  /* line 204, ../sass/screen.sass */
  footer h2 {
    width: 26.47059%;
    float: left;
    margin-right: 2.94118%;
    font-size: 1.6em;
    text-align: center;
  }
  /* line 208, ../sass/screen.sass */
  footer .twitter-follow-button {
    width: 70.58824%;
    float: left;
    margin-right: 2.94118%;
  }
  /* line 210, ../sass/screen.sass */
  footer #subscribe {
    width: 70.58824%;
    float: right;
    margin-right: 0;
  }
}

/* line 213, ../sass/screen.sass */
#promovideo {
  margin: 0 auto;
}
/* line 215, ../sass/screen.sass */
#promovideo .twitter-share-button {
  margin-top: 0.5em;
}
@media (min-width: 45em) {
  /* line 213, ../sass/screen.sass */
  #promovideo {
    position: relative;
    margin: 0 -1em 1em;
  }
  /* line 220, ../sass/screen.sass */
  #promovideo .twitter-share-button {
    margin-top: 0.5em;
    position: absolute;
    top: -3em;
    right: -2em;
  }
}

/* line 226, ../sass/screen.sass */
p.note {
  font-size: 0.6875em;
  line-height: 1.01818em;
  margin-top: 0.43636em;
  margin-bottom: 1em;
}

/* line 232, ../sass/screen.sass */
.intro {
  border-bottom: 1px solid #cccccc;
}
/* line 234, ../sass/screen.sass */
.intro p {
  color: #989a9e;
}

/* line 237, ../sass/screen.sass */
p.theme {
  font-style: italic;
  margin: 0 4em 0 2em;
  font-weight: 600;
  color: #989a9e;
}

@media (min-width: 45em) {
  /* line 244, ../sass/screen.sass */
  .home div#proposals, .home div#sponsors {
    background: white;
    margin: 1em 3em 2em -1em;
    padding: 1em;
    float: left;
    max-width: 20em;
    -webkit-box-shadow: 0px 30px 30px -30px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 30px 30px -30px rgba(0, 0, 0, 0.5);
  }
  /* line 250, ../sass/screen.sass */
  .home div#proposals h2, .home div#sponsors h2 {
    margin-top: 0;
  }
  /* line 252, ../sass/screen.sass */
  .home div#proposals *:last-child, .home div#sponsors *:last-child {
    margin-bottom: 0;
  }

  /* line 256, ../sass/screen.sass */
  .home div#proposals {
    transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    -o-transform: rotate(1deg);
  }

  /* line 263, ../sass/screen.sass */
  .home div#sponsors {
    margin-right: -1em;
    transform: rotate(-1deg);
    -ms-transform: rotate(-1deg);
    -moz-transform: rotate(-1deg);
    -webkit-transform: rotate(-1deg);
    -o-transform: rotate(-1deg);
  }
}
/* line 271, ../sass/screen.sass */
#organizers {
  clear: left;
  background-color: #303030;
  background-image: -moz-radial-gradient(50% 50%, circle closest-side, #303030, #303030 8em, #232323 11em);
  background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #303030, #303030 8em, #232323 11em);
  background-image: -o-radial-gradient(50% 50%, circle closest-side, #303030, #303030 8em, #232323 11em);
  background-image: -ms-radial-gradient(50% 50%, circle closest-side, #303030, #303030 8em, #232323 11em);
  background-image: radial-gradient(50% 50%, circle closest-side, #303030, #303030 8em, #232323 11em);
  margin: 1em -1em -1em;
  padding: 1em;
}
@media (min-width: 45em) {
  /* line 271, ../sass/screen.sass */
  #organizers {
    background-image: -moz-radial-gradient(50% 50%, circle closest-side, #303030, #303030 12em, #232323 19em);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #303030, #303030 12em, #232323 19em);
    background-image: -o-radial-gradient(50% 50%, circle closest-side, #303030, #303030 12em, #232323 19em);
    background-image: -ms-radial-gradient(50% 50%, circle closest-side, #303030, #303030 12em, #232323 19em);
    background-image: radial-gradient(50% 50%, circle closest-side, #303030, #303030 12em, #232323 19em);
  }
}
/* line 289, ../sass/screen.sass */
#organizers h2, #organizers p {
  font-size: 0.875em;
  line-height: 1.6em;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  clear: both;
}
/* line 295, ../sass/screen.sass */
#organizers h2 {
  font-weight: 400;
}
/* line 297, ../sass/screen.sass */
#organizers .logos {
  max-width: 246px;
  margin: 0 auto;
}
/* line 300, ../sass/screen.sass */
#organizers .uottawa-logo, #organizers .carleton-logo {
  background-image: url(../img/organizer-logos.png?);
  background-repeat: no-repeat;
  text-indent: -9999px;
  display: block;
  float: left;
  opacity: 0.8;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
/* line 312, ../sass/screen.sass */
#organizers .uottawa-logo {
  width: 83px;
  height: 72px;
  background-position: 0, 0;
  margin: 10px 23px 20px 0;
}
/* line 317, ../sass/screen.sass */
#organizers .carleton-logo {
  width: 140px;
  height: 35px;
  background-position: -106px -22px;
  margin: 32px 0 15px 0;
}
/* line 322, ../sass/screen.sass */
#organizers .uottawa-logo:hover, #organizers .carleton-logo:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {
  /* line 330, ../sass/screen.sass */
  #organizers .uottawa-logo, #organizers .carleton-logo {
    background-image: url(../img/organizer-logos@2x.png);
    background-size: 246px 72px;
  }
}

/* line 334, ../sass/screen.sass */
aside.highlight {
  border: 2px solid #ffa23e;
  padding: 1em;
}
/* line 337, ../sass/screen.sass */
aside.highlight h2 {
  font-size: 1em;
  line-height: 1.4em;
  color: #ffa23e;
  margin: 0;
}
/* line 342, ../sass/screen.sass */
aside.highlight p:last-of-type {
  margin-bottom: 0;
}

/* line 345, ../sass/screen.sass */
aside.note {
  padding-left: 1em;
}
/* line 347, ../sass/screen.sass */
aside.note h3 {
  margin: 0;
  font-size: 1em;
}
/* line 350, ../sass/screen.sass */
aside.note h3 a {
  display: block;
  margin-left: -15px;
  padding-left: 15px;
  background: url(../img/disclosure-triangle.png) no-repeat 4px 4px;
}
/* line 355, ../sass/screen.sass */
aside.note h3.open a {
  background-position: 0 -85px;
}
/* line 357, ../sass/screen.sass */
aside.note li, aside.note ul {
  padding-left: 0;
  margin-left: 0;
}

/* line 362, ../sass/screen.sass */
#answers h3 {
  font-size: 1em;
  line-height: 1.4em;
  color: black;
  font-weight: 700;
}

/* line 369, ../sass/screen.sass */
#subscribe .subscribe-loader {
  background: url(../img/ajax-loader.gif) no-repeat top left;
  width: 12px;
  height: 12px;
  display: inline-block;
}
/* line 374, ../sass/screen.sass */
#subscribe #subemail {
  width: 100%;
  padding: 0.3em 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 1px;
  margin-bottom: 0.5em;
  font-size: 0.9em;
}
@media (min-width: 30em) {
  /* line 374, ../sass/screen.sass */
  #subscribe #subemail {
    font-size: 1em;
    width: 74.35897%;
    float: left;
    margin-right: 2.5641%;
  }
}
@media (min-width: 35em) {
  /* line 374, ../sass/screen.sass */
  #subscribe #subemail {
    width: 77.27273%;
    float: left;
    margin-right: 2.27273%;
  }
}
@media (min-width: 30em) {
  /* line 388, ../sass/screen.sass */
  #subscribe #subsubmit {
    width: 23.07692%;
    float: left;
    margin-right: 2.5641%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 35em) {
  /* line 388, ../sass/screen.sass */
  #subscribe #subsubmit {
    width: 20.45455%;
    float: left;
    margin-right: 2.27273%;
    float: right;
    margin-right: 0;
  }
}
/* line 395, ../sass/screen.sass */
#subscribe .error_message {
  margin-bottom: 1em;
  color: #f36f67;
}
/* line 399, ../sass/screen.sass */
#subscribe #success_page h3 {
  color: #95b257;
  margin: 0;
}
/* line 402, ../sass/screen.sass */
#subscribe #success_page h3 + p {
  margin-top: 0;
}

@media (min-width: 40em) {
  /* line 405, ../sass/screen.sass */
  .sponsors #interested {
    display: none;
  }
}
