/* ------------------------------------------------------------------------- */
/* Layout */
/* line 10, ../sass/screen.sass */
body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.05);
}

/* line 15, ../sass/screen.sass */
bold, strong {
  font-weight: 700;
}

/* line 18, ../sass/screen.sass */
.container {
  *zoom: 1;
  max-width: 19em;
  _width: 19em;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  padding: 1em 1em;
}
/* line 38, ../../../../../../usr/local/Cellar/ruby/1.9.3-p286/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 23, ../sass/screen.sass */
img, video, embed, object {
  max-width: 100%;
}

/* line 26, ../sass/screen.sass */
h2 {
  font-weight: 600;
  color: #ffa23e;
  font-size: 1.875em;
  line-height: 1.06667em;
}

/* line 32, ../sass/screen.sass */
h3 {
  color: #989a9e;
  font-size: 1.25em;
  line-height: 1.2em;
}

/* line 37, ../sass/screen.sass */
a:link, a:visited {
  font-weight: 700;
  color: #55bed8;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -ms-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
}

/* line 46, ../sass/screen.sass */
a:hover {
  color: rgba(85, 190, 216, 0.8);
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  -moz-transition: color 0.2s linear, background-color 0.2s linear;
  -ms-transition: color 0.2s linear, background-color 0.2s linear;
  -o-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
}

/* line 54, ../sass/screen.sass */
a.button {
  display: inline-block;
  text-decoration: none;
  background: #55bed8;
  color: white;
  padding: 0.3em 0.5em;
  border: 1px solid white;
  -webkit-box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 3px 10px 0px rgba(0, 0, 0, 0.2);
  margin-left: -1px;
  text-transform: uppercase;
}

/* line 66, ../sass/screen.sass */
a.button:hover {
  background: rgba(85, 190, 216, 0.8);
}

/* line 69, ../sass/screen.sass */
header {
  text-align: center;
  background-color: #fffcfc;
  background-image: -moz-radial-gradient(50% 40%, circle closest-side, white, rgba(255, 255, 255, 0.1) 8em, rgba(0, 0, 0, 0.05) 11em);
  background-image: -webkit-radial-gradient(50% 40%, circle closest-side, white, white 8em, rgba(0, 0, 0, 0.05) 11em);
  background-image: -o-radial-gradient(50% 40%, circle closest-side, white, white 8em, rgba(0, 0, 0, 0.05) 11em);
  background-image: -ms-radial-gradient(50% 40%, circle closest-side, white, white 8em, rgba(0, 0, 0, 0.05) 11em);
  background-image: radial-gradient(50% 40%, circle closest-side, #ffffff, #ffffff 8em, rgba(0, 0, 0, 0.05) 11em);
  margin: -1em -1em 1em;
  padding: 1em;
}
/* line 80, ../sass/screen.sass */
header p.tagline {
  font-size: 0.875em;
  margin-top: 0;
}
/* line 83, ../sass/screen.sass */
header img {
  display: block;
  max-width: 14em;
  margin: 0 auto;
}
/* line 87, ../sass/screen.sass */
header p.location-date {
  margin-top: 1.5em;
  color: #777777;
}
/* line 90, ../sass/screen.sass */
header span.location {
  padding-right: 1em;
}
/* line 92, ../sass/screen.sass */
header p.theme {
  font-size: 1.125em;
  padding: 0 2em;
  color: #ffa23e;
}

/* line 98, ../sass/screen.sass */
#promovideo iframe {
  margin: 0 auto;
}

/* line 101, ../sass/screen.sass */
#organizers {
  background-color: #303030;
  margin: 1em -1em;
  padding: 1em;
}
/* line 105, ../sass/screen.sass */
#organizers h2, #organizers p {
  font-size: 0.875em;
  line-height: 1.6em;
  color: white;
  text-align: center;
}
/* line 110, ../sass/screen.sass */
#organizers .uottawa-logo, #organizers .carleton-logo {
  background-image: url(../img/organizers-logo.png);
  background-repeat: no-repeat;
}
