// ---------------------------------------------------------------------------
// Imports

@import base

/* -------------------------------------------------------------------------
/* Layout */

body
  font-family: 'Source Sans Pro', sans-serif

.container
  +container
  img
    max-width: 100%
  header
    p.tagline
      text-align: center
    img
      display: block
      max-width: 14em
      margin: 0 auto
