RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^accommodations/([0-9]{1,10})$ ../render-page.php [L]
RewriteRule ^accommodations(/?)$ ../render-page.php [L]
RewriteRule ^attractions/([0-9]{1,10})$ ../render-page.php [L]
RewriteRule ^attractions(/?)$ ../render-page.php [L]
RewriteRule ^nightlife/([0-9]{1,10})$ ../render-page.php [L]
RewriteRule ^nightlife(/?)$ ../render-page.php [L]
RewriteRule ^local-eats/([0-9]{1,10})$ ../render-page.php [L]
RewriteRule ^local-eats(/?)$ ../render-page.php [L]
RewriteRule ^getting-here/([0-9]{1,10})$ ../render-page.php [L]
RewriteRule ^getting-here(/?)$ ../render-page.php [L]
RewriteRule ^uottawa-campus/([0-9]{1,10})$ ../render-page.php [L]
RewriteRule ^uottawa-campus(/?)$ ../render-page.php [L]