RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^accommodations/([0-9]{1,10})$ /php/render-page.php [L]
RewriteRule ^accommodations(/?)$ /php/render-page.php [L]
RewriteRule ^attractions/([0-9]{1,10})$ /php/render-page.php [L]
RewriteRule ^attractions(/?)$ /php/render-page.php [L]
RewriteRule ^nightlife/([0-9]{1,10})$ /php/render-page.php [L]
RewriteRule ^nightlife(/?)$ /php/render-page.php [L]
RewriteRule ^local-eats/([0-9]{1,10})$ /php/render-page.php [L]
RewriteRule ^local-eats(/?)$ /php/render-page.php [L]
RewriteRule ^getting-here/([0-9]{1,10})$ /php/render-page.php [L]
RewriteRule ^getting-here(/?)$ /php/render-page.php [L]
RewriteRule ^uottawa-campus/([0-9]{1,10})$ /php/render-page.php [L]
RewriteRule ^uottawa-campus(/?)$ /php/render-page.php [L]