RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^accommodations/([0-9]{1,10})\.html$ ../render-page.php [L]
RewriteRule ^accommodations(/?)$ ../render-page.php [L]