<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Preliminary Program - CANHEIT 2013, Canada's premier Higher Education IT Conference</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <meta name="apple-itunes-app" content="app-id=428713847, app-argument=gb://guide/5396/schedule/">

        <link rel="icon" type="image/png" href="../favicon-256x256.png">

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/boilerplate.css">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../css/screen.css">
        <script src="../js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="container">
          <header>
            <a href="../" rel="home" class="return"><img src="../img/canheit2013_logo_horizontal.png" alt="home" id="logo" /></a>
            <p class="tagline">Canada's premier Higher Education IT Conference</p>
            <p class="location-date">
              <span class="location">Ottawa, Ontario</span>
              <span class="date">June 9 - 12, 2013</span>
            </p>
          </header>
          <article>
            <header>
              <a href="../" rel="home" class="return">Home</a>
              
              <h1>Preliminary Program</h1>
            </header>
            
            <div class="intro">
              <p>Write here an intro to summarizes the page's content. e.g. We've got a skeleton of the program and some keynotes confirmed. Check back on March 7 for the full program and registration or get notified via our newsletter.</p>              
            </div>
            
            <div id="crowdvote" class="item">
            	<h2>Hey Crowd! Vote!</h2>
            	<p>This year, you get to pick which sessions are in the program. That's right, <strong>we're crowdvoting this year's program</strong> to make CANHEIT 2013 the awesommest ever.</p>
              <div class="actions">
            		<a class="button" href="#crowdvote">Vote for your top sessions</a>
            		<p class="note">Quick! You got until February 22nd!</p>
            		  <button class="cancel" id="not-today">Not today</button>
            		  <button class="cancel" id="never">Already did!</button>
            	</div>
            </div>
            
            {% for day in days %}
            <h2>{{ day.day }}</h2>

            {% for starttime in day.starttimes %}
            <h3>{{ starttime.starttime }}</h3>
            <ul>
              {% for event in starttime.events %}
                <li>{{ event.name }}<br />until {{ event.endTime }}</li>
              {% endfor %}
            </ul>
            {% endfor %}

            {% endfor %}
            
					</article>  				
					<footer>
					  <h2>Don't be shy! Stay in touch&hellip;</h2>
					  <a href="https://twitter.com/CANHEIT2013" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @CANHEIT2013</a>
					  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					  <div id="subscribe">
  						<div id="mesaj"></div>
  						<form action="../php/subscribe.php" method="post" id="subscribeform" name="subscribeform" class="clearfix">
  							<input type="text" name="email" placeholder="Enter your email address to get notified" id="subemail">
  							<input type="submit" name="send" value="Subscribe" id="subsubmit">
  						</form>
  					</div>
					</footer>
					
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.8.2.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>
        <script src="../js/vendor/jquery.collapse.js"></script>

        <script>
          jQuery(document).ready(function($){
            $("aside.note").collapse({
              open: function() {
                // The context of 'this' is applied to
                // the collapsed details in a jQuery wrapper 
                _gaq = window._gaq || [];
                _gaq.push(['canheit._trackEvent', 'page-content' , 'open', 'sessions-formats' ]);
                this.slideDown(200);
              },
              close: function() {
                _gaq = window._gaq || [];
                _gaq.push(['canheit._trackEvent', 'page-content' , 'close', 'sessions-formats' ]);
                this.slideUp(200);
              },
              accordion : true,
              persist: false
            });
          });
        </script>
        

        <script>
            var _gaq=[['canheit._setAccount','UA-35890616-1'],['canheit._trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        
        <script>
          $(function() {
            
            if($.cookie('crowdvoting') == 'never' || $.cookie('crowdvoting') == 'not-today') {
              $('#crowdvote').hide(0);
              return;
            }
            
            $('.cancel').fadeIn('fast');
            
            $('#not-today').click(function(){
              $.cookie('crowdvoting','not-today',{ expires: 1 });
              $('#crowdvote').fadeOut('slow');
            });
            
            $('#never').click(function(){
              $.cookie('crowdvoting','never',{ expires: 365 });
              $('#crowdvote').fadeOut('slow');
            });
            
          });
        </script>
        
    </body>
</html>
