<div class="recommendations">
  <img src="/img/Geeven-holding-sign-top.png"/>
   <div>
    <h3>Geeven recommends</h3>
    <p class="note">(What the heck is a <a href="/about/#geeven">Geeven</a>?)</p>
    <p>{{ rec }}</p>
  </div>
  <img src="/img/Geeven-holding-sign-bottom.png"/>
</div>